<div class="profile">
  <div class="profile-header bg-blue-500 text-white p-6">
    <h2 class="text-3xl font-bold"><%= @user.name %></h2>
    <p>@<%= @user.username %></p>
  </div>
  <div class="profile-bio p-6">
    <h3 class="text-xl font-semibold">Bio</h3>
    <p><%= @user.bio %></p>
  </div>
  <div class="profile-posts p-6">
    <h3 class="text-xl font-semibold">Posts</h3>
    
  </div>
</div>
